<div class="container">
   <h3>Artwork</h3>
</div>
<div class="container">View by:
   <div class="autocomplete">
      <input type="text" name="artist" placeholder="Artist" id="artist">
   </div>
   <div class="autocomplete">
      <input type="text" name="medium" placeholder="Medium" id="medium">
   </div>
   <div class="autocomplete">
      <input type="text" name="style" placeholder="Style" id="style">
   </div>
   <div class="autocomplete">
      <input type="text" name="wing" placeholder="Wing" id="wing">
   </div>
</div>
<div class ="container" id="artList"><div></div></div>
<script src="browseScript.js"></script>
<script src="addArtworkScript.js"></script>
