<div class="container">
   <h3>Artwork</h3>
</div>
<div class="container">View by:
<div>
<button>Artist</button>
<button>Medium</button>
<button>Style</button>
<button>Wing</button>
</div>
</div>
<div class="container" id="artwork">
<table>title artist(s) medium(s) style date origin wing [edit] [delete]</table>
</div>
<script src="browseScript.js"></script>
