<div class="container">
   <h3>Artwork</h3>
</div>
<div class="container">View by:
   <div class="autocomplete">
      <input type="text" id="artist">
      <input type="text" id="medium">
      <input type="text" id="style">
      <input type="text" id="wing">
   </div>
   <div>
      <button>Artist</button>
      <button>Medium</button>
      <button>Style</button>
      <button>Wing</button>
   </div>
</div>
<div class ="container" id="artList"><div></div></div>
<script src="browseScript.js"></script>
<script src="addArtworkScript.js"></script>
